<section style="background-color: #EAE2B7;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-10 col-lg-8 col-xl-6">

        <div class="card  text-white">
          <div class="bg-image">
            <img            
              src="./assets/image/storm.jpg"
              class="card-img"
              alt="weather"
            />
            <div class="mask"></div>
          </div>
          <div class="card-img-overlay text-light p-5" >          
            <h4 class="mb-0">{{information.city}}</h4>
            <p class="my-3">Temperature: <strong>{{information.temperature}} °C</strong></p>
            <p class="mb-2">Conditions: <strong>{{information.conditions}}</strong></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
