<section class="background">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6 center-one" style="text-align: center;">  
                <form (ngSubmit)="submit()" style="padding-top: 5%;">
                <input type="text" style="margin-right: 10px;" placeholder="Provide city name" name="city" [(ngModel)]="city">
                <input type="submit" value="Submit">
             </form>         
          </div>
      </div>
    </div>
  </section>
  


